{% extends 'administrador/base.html' %}
{% block content %}
    <div class="formulario">
        <h2>{{ titulo }}</h2>
        <br/>
        <a class="button" href="{% url 'admistrador_agregar_cuenta' %}">ABRIR UNA CUENTA</a>
        <a class="button" href="{% url 'admistrador_deposito_cuenta' %}">DEPOSITO</a>
        <a class="button" href="{% url 'admistrador_agregar_cuenta' %}">RETIRO</a>
        <p></p>
        <br/>
        <table class="tabla">
            <tr>
                <th><strong>NO. CUENTA</strong></th>
                <th><strong>MONTO</strong></th>
                <th><strong>TIPO DE CUENTA</strong></th>
                <th><strong>TIPO DE MONEDA MANEJADA</strong></th>
                <th><strong>USUARIO</strong></th>
            </tr>
            {% for id, monto, tipo_cuenta, tipo_moneda, id_usuario in lista %}
                {% for id_user, nombre_usuario, contrasena, cui, id_empresa in usuarios %} 
                    {% if  id_user == id_usuario%}
                    <td>{{ id }}</td>
                    {% if tipo_moneda == 'QUETZAL' %}
                        <td>Q {{ monto }}</td>
                    {% elif tipo_moneda == 'DOLLAR' %}
                        <td>$ {{ monto }}</td>
                    {% endif %}
                    <td>{{ tipo_cuenta }}</td>
                    <td>{{ tipo_moneda }}</td>
                    <td>{{ nombre_usuario }}</td>
                    {% endif %}
                {% endfor %}
                <tr>

                </tr>
            {% endfor %}


        </table>
    </div>
{% endblock %}