{% extends 'base.html' %}
{% block content %}

    <div class="formulario">
        <h2>CUENTA NO. 000000000</h2>
        <ul>
            <li><a href="{% url 'retiro' %}">RETIRO</a></li>
            <li><a href="{% url 'deposito' %}">DEPOSITO</a></li>
            <li><a href="{% url 'prestamo' %}">PRESTAMO</a></li>
            <li><a href="{% url 'home' %}">CAMBIO DE CHEQUE</a></li>
            <li><a href="{% url 'home' %}">TRANSFERENCIA</a></li>
        </ul>
        <h3>DETALLE DE CUENTA</h3>
        <p></p>
        <table class="tabla">
            <tr>
                <th><strong>TIPO DE TRANSACCION</strong></th>
                <th><strong>FECHA</strong></th>
                <th><strong>OPCIONES</strong></th>
            </tr>
            
            <tr>
                <td>RETIRO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>PRESTAMO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>DEPOSITO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>CAMBIO DE CHEQUE</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>TRANSFERENCIA</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

                        <tr>
                <td>RETIRO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>PRESTAMO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>DEPOSITO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>CAMBIO DE CHEQUE</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>TRANSFERENCIA</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

                        <tr>
                <td>RETIRO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>PRESTAMO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>DEPOSITO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>CAMBIO DE CHEQUE</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>TRANSFERENCIA</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

                        <tr>
                <td>RETIRO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>PRESTAMO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>DEPOSITO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>CAMBIO DE CHEQUE</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>TRANSFERENCIA</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

                        <tr>
                <td>RETIRO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>PRESTAMO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>DEPOSITO</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>CAMBIO DE CHEQUE</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>

            <tr>
                <td>TRANSFERENCIA</td>
                <td>00/00/00</td>
                <td><a href="{% url 'detalle_cuenta' %}">VER DETALLE</a></td>
            </tr>
        </table>
    </div>
{% endblock %}