

{% extends 'base.html' %}
{% block content %}
    <form class="formulario">
        <div class="left">
            <h1>INICIO DE SESION</h1>
        
            <p></p>
            <input class="text_box" type="text" size="40" placeholder="NOMBRE DE USUARIO">

            <p></p>
            <input class="text_box" type="password" size="40" placeholder="CONTRASEÑA">
        
            <p></p>
            <input class="button" type="submit" value="ACEPTAR">
        <div>
    </form>
{% endblock %}